apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: huemie-local

configMapGenerator:
- name: adapter-attendant-configmap
  literals:
    - adapter.namespace=adapters
    - device-store.url=http://device-store.huemie-local:8080
    - database.host=mariadb
    - database.user=user
- name: device-store-configmap
  literals:
    - database.host=mariadb
    - database.user=user
    - adapter-attendant.url=http://adapter-attendant:8080

secretGenerator:
- name: adapter-attendant-secret
  literals:
    - database.password=databaseuserpassword
- name: device-store-secret
  literals:
    - database.password=databaseuserpassword
    - database.event.connectionstring=amqp://guest:guest@rabbitmq-headless:5672/

resources:
 - namespace.yaml
 - ../../base/default
 - ../3pp
